.logo{
    position: relative;
    width: 150px;
    height: 100px;
    background-image: url(../assets/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

#myMenu .nav a{
    color:#fff !important;
}

#myMenu .nav .dropdown-menu a{
    color:#007bff !important;
}

#myMenu .nav .dropdown-menu a:hover,
#myMenu .nav .dropdown-menu a:active{
    color: #fff;
}

input.val:invalid,
textarea.val:invalid,
select.val:invalid{
    border-color: red !important;
    color:red !important;
    background-color: rgb(253, 247, 247) !important;
}

input.val:valid,
textarea.val:valid,
select.val:valid{
    border: 1px solid green;
}

input.error, textarea.error, select.error{
    border-color: red !important;
    color:red !important;
    background-color: rgb(253, 247, 247) !important;
}

#content-msg-js{
    right: 10px;
    position: fixed;
    top:60px;
    z-index: 100000;
}

a.btn.float-right{
    margin-left: 10px !important;
}

table,tr,th,td{
    text-align: right !important;
    border: 1px solid #dee2e6;

}

.blue_col{
    background-color: #eaeaea;
    border-color: #9db4d2;
}
.yellow_col{
    background-color: #f7e5c3;
    border-color: #e6d0a4;
}
.red_col{
    background-color: #f7e5c3;
    border-color: #fec34b;
}
.green_col{
    background-color: #f7e5c3;
    border-color: #fec34b;
}
.btnEditar,.btnDetalle,.btnEliminar{
    text-shadow: transparent;
    color: transparent;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 20px;
    padding: 0px;
    margin: 0px 5px;
    height: 20px;
    *background-color:#000;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 100%;
    *border:1px solid #007bff;
}
.btnEditar:hover,.btnDetalle:hover,.btnEliminar:hover{
    color: transparent;
}
.btnEditar{
    background-image: url(../assets/btnEditar.png);
}
.btnDetalle{
    background-image: url(../assets/btnDetalle.png);
}
.btnEliminar{
    background-image: url(../assets/btnEliminar.png);
}

#mask{
    position: fixed;
    z-index: -1000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    opacity: 0;
}

#mask.activo{
    z-index: 20000;
    opacity: 1;
}

#mask .loading {
    position: relative;
    width: 430px;
    height: 80px;
    background-color: rgb(255,255,255);
    text-align: center;
    border-radius: 15px;
    margin: 110px auto;
}

.loadIcon{
    background-image: url(../assets/resources/load.gif);
    background-repeat: no-repeat;
    width: 100px;
    height: 54px;
    background-size: 100%;
}

#mask .loading *{
    vertical-align: top;
    position: relative;
    display: inline-block;
}